<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/style.css")
        title Document
    body
        .contents
            table
                tr
                    td.card 1
                    td.card 2
                    td.card 3
                    td.card 4
                tr
                    td.card 5
                    td.card 6
                    td.card 7
                    td.card 8
                tr
                    td.card 9
                    td.card 10
                    td.card 11
                    td.card 12
                tr
                    td.card 13
                    td.card 14 
                    td.card 15 
                    td.card 16
            button#start_btn start
        .count
            h1 match
            h2 0
            h1 count
            h2 0
        script(src="/static/play.js")